html {
    margin: 0px;
    height: 100%;
    width: 100%;

    font-size: 62.5%;
 }

body {
    
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0;
    
}

#header {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 4rem;
    background-color: black;
    opacity: 90%;
}

.header-item {
    color: white;
    font-family: 'IM Fell French Canon SC';
    font-size: 2rem;
    cursor: pointer;

    padding: 1rem;
}

#content {
    height: calc(100% - 4rem);
    background-color: black;
    opacity: 90%;
    color: white;
}



/* FONTS */
/* darker-grotesque-regular - latin */
@font-face {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/darker-grotesque-v2-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/darker-grotesque-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/darker-grotesque-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/darker-grotesque-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/darker-grotesque-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/darker-grotesque-v2-latin-regular.svg#DarkerGrotesque') format('svg'); /* Legacy iOS */
  }
  /* darker-grotesque-600 - latin */
  @font-face {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/darker-grotesque-v2-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/darker-grotesque-v2-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/darker-grotesque-v2-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/darker-grotesque-v2-latin-600.woff') format('woff'), /* Modern Browsers */
         url('./fonts/darker-grotesque-v2-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/darker-grotesque-v2-latin-600.svg#DarkerGrotesque') format('svg'); /* Legacy iOS */
  }
  /* darker-grotesque-700 - latin */
  @font-face {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/darker-grotesque-v2-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/darker-grotesque-v2-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/darker-grotesque-v2-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/darker-grotesque-v2-latin-700.woff') format('woff'), /* Modern Browsers */
         url('./fonts/darker-grotesque-v2-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/darker-grotesque-v2-latin-700.svg#DarkerGrotesque') format('svg'); /* Legacy iOS */
  }
  /* darker-grotesque-800 - latin */
  @font-face {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 800;
    src: url('./fonts/darker-grotesque-v2-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/darker-grotesque-v2-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/darker-grotesque-v2-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/darker-grotesque-v2-latin-800.woff') format('woff'), /* Modern Browsers */
         url('./fonts/darker-grotesque-v2-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/darker-grotesque-v2-latin-800.svg#DarkerGrotesque') format('svg'); /* Legacy iOS */
  }

  /* im-fell-french-canon-sc-regular - latin */
@font-face {
    font-family: 'IM Fell French Canon SC';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/im-fell-french-canon-sc-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/im-fell-french-canon-sc-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/im-fell-french-canon-sc-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/im-fell-french-canon-sc-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/im-fell-french-canon-sc-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/im-fell-french-canon-sc-v12-latin-regular.svg#IMFellFrenchCanonSC') format('svg'); /* Legacy iOS */
  }