html {
    margin: 0px;
    height: 100%;
    width: 100%;
    min-height: 100%;

    font-size: 62.5%;

 }

body {
    
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#header {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 4rem;
    background-color: black;
    opacity: 90%;
}

.header-item {
    color: white;
    font-family: 'IM Fell French Canon SC';
    font-size: 2rem;
    cursor: pointer;

    padding: 1rem;
}

.header-item-current {
    color: #b88700;
}

#content {
    min-height: calc(100% - 4rem);
    height: max-content;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 4rem);
    width: 100vw;
}

.logo {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 70vw;
    height: 70vw;

    max-width: 700px;
    max-height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.sub-menu-wrapper {

    background-color: white;
    width: 300px;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.sub-menu {
    background-color: white;
    border: black solid 2px;
    width: calc(270px - 2rem);


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding: 1rem;
    margin-top: 15px;
    margin-bottom: 15px;
}

.sub-menu-title {

    font-family: 'IM Fell French Canon SC';
    font-size: 1.6rem;
    color: black;

}

.menu-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.menu-item {

    margin: 0.5rem;
    width: calc(100% - .5rem);
}

.menu-item-title {
    color:black;
    font-family: 'IM Fell French Canon SC';
    font-size: 1.3rem;
}

.menu-item-one-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-item-desc {
    color: black;
    font-family: 'Darker Grotesque';
    font-size: 1.4rem;
    line-height: 1.5rem;

}

.menu-price {
    color: black;
    font-family: 'Darker Grotesque';
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.5rem;
    padding-left: 0.2rem;
}

.contact-us {
    width: 100%;
    max-width: 800px;
    padding-top: 3rem;
}

.contact-title {
    color: white;
    font-family: 'Darker Grotesque';
    font-size: 3rem;
    line-height: 3rem;
    padding-left: 3rem;
    padding-bottom: 2rem;
    margin: 0px;
}

.contact-subtitle {
    color: white;
    font-family: 'IM Fell French Canon SC';
    font-size: 1.2rem;
    line-height: 1.2rem;
    padding-left: 3rem;
    margin: 0px;
}

.contact-content {
    color: white;
    font-family: 'Darker Grotesque';
    font-size: 2.2rem;
    padding-left: 3rem;
    margin: 0px;
    margin-bottom: 3rem;
    height: 3rem;

}

@media (min-width: 280px) {

    .logo {
        font-size: 2rem;
    }
}

@media (min-width: 320px) {

    .logo {
        font-size: 2.4rem;
    }
}

@media (min-width: 340px) {

    .logo {
        font-size: 3rem;
    }
}

@media (min-width: 460px) {

    .logo {
        font-size: 4rem;
    }
}

@media (min-width: 580px) {

    .logo {
        font-size: 5rem;
    }
}

@media (min-width: 680px) {

    .logo {
        font-size: 6rem;
    }
}

@media (min-width: 800px) {

    .logo {
        font-size: 7rem;
    }
}


/* FONTS */
/* darker-grotesque-regular - latin */
@font-face {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/darker-grotesque-v2-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/darker-grotesque-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/darker-grotesque-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/darker-grotesque-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/darker-grotesque-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/darker-grotesque-v2-latin-regular.svg#DarkerGrotesque') format('svg'); /* Legacy iOS */
  }
  /* darker-grotesque-600 - latin */
  @font-face {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/darker-grotesque-v2-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/darker-grotesque-v2-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/darker-grotesque-v2-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/darker-grotesque-v2-latin-600.woff') format('woff'), /* Modern Browsers */
         url('./fonts/darker-grotesque-v2-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/darker-grotesque-v2-latin-600.svg#DarkerGrotesque') format('svg'); /* Legacy iOS */
  }
  /* darker-grotesque-700 - latin */
  @font-face {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/darker-grotesque-v2-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/darker-grotesque-v2-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/darker-grotesque-v2-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/darker-grotesque-v2-latin-700.woff') format('woff'), /* Modern Browsers */
         url('./fonts/darker-grotesque-v2-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/darker-grotesque-v2-latin-700.svg#DarkerGrotesque') format('svg'); /* Legacy iOS */
  }
  /* darker-grotesque-800 - latin */
  @font-face {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 800;
    src: url('./fonts/darker-grotesque-v2-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/darker-grotesque-v2-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/darker-grotesque-v2-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/darker-grotesque-v2-latin-800.woff') format('woff'), /* Modern Browsers */
         url('./fonts/darker-grotesque-v2-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/darker-grotesque-v2-latin-800.svg#DarkerGrotesque') format('svg'); /* Legacy iOS */
  }

  /* im-fell-french-canon-sc-regular - latin */
@font-face {
    font-family: 'IM Fell French Canon SC';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/im-fell-french-canon-sc-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/im-fell-french-canon-sc-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/im-fell-french-canon-sc-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/im-fell-french-canon-sc-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/im-fell-french-canon-sc-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/im-fell-french-canon-sc-v12-latin-regular.svg#IMFellFrenchCanonSC') format('svg'); /* Legacy iOS */
  }